# Configurações do Banco de Dados
# DATABASE_URL=sqlite:///travel_map_tracker.db

# Configurações da Aplicação
FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=RANDOM_SECRET_KEY
JWT_SECRET_KEY=RANDOM_JWT_SECRET_KEY

# Google OAuth
GOOGLE_CLIENT_ID=TODO
GOOGLE_CLIENT_SECRET=TODO
